body{
    font-family: "微软雅黑";
    height:100%;
}

.header{
	color: rgb(200,22,35);
	min-width: 1180px;
	margin-left:14px;
}

.title_left{
	font-size:38px;
	font-weight: bold;
	float:left;

}

.title_right{
	float:right;
	margin-right: 16px;
	text-align: right;
}

.title_right_1{
	font-weight: bold;
	font-size:24px;
}

.title_right_2{
	font-size:12px;
	color: rgb(127,127,127);
}

.title_right_2 div{
	text-align: right;
}
.subtitle{
	clear:both;
	margin-top: 4px;
	font-weight: bold;
	font-size: 20px;
	color: #a6a6a6;
}

.sep{
	clear: both;
	border-bottom:  rgb(200,22,35) solid 0px;
	line-height: 26px;
}

.content{
	min-width: 1180px;
}

.login{
	/*margin-top:260px;*/
	margin-top:10px;
	margin-left:14px;
	width:370px;
	float:left;
}

.login input{
	width:330px;
	height:38px;
	font-size: 18px;
	font-family: "微软雅黑";
	background-image: url("../image/pink.png");
	border:0;
	color: rgb(166,166,166)

}

.login input.input_password{
		margin-top:5px;
}

.login .image1{
	margin-left: 5px;
	width: 120px;
	border:0;
}

.login .image2{
	margin-left: 40px;
	width: 140px;
	border:0;
}

.login_problem{
	margin-top:10px;
	font-size:12px;
	color:rgb(166,166,166);
	margin-left:162px;
}

.login_problem .online_support a{
	color: rgb(200,22,35);
	text-decoration: none;
}

.login_problem .online_support a:hover{
	color:rgb(166,166,166);

}


.login .func{width:550px;margin-top:10px;}
.login .func_item{float:left;}
.login .func .grey_back{border:0px solid red; height:180px;width:85px;background-color: #666666;margin-left:3px;}
.login .func .grey_back div{padding-top:55px;}
.login .func .grey_back div img{border:0;}
.login .func .color_font_1{border:0px solid red;height:45px;width:85px;margin-left:3px;background-color: #33CC99}
.login .func .color_font_2{border:0px solid red;height:45px;width:85px;margin-left:3px;background-color:#c81623}
.login .func .color_font_3{border:0px solid red;height:45px;width:85px;margin-left:3px;background-color:#ed6d00}
.login .func .color_font_4{border:0px solid red;height:45px;width:85px;margin-left:3px;background-color:#bf9d5b}
.login .func .color_font_5{border:0px solid red;height:45px;width:85px;margin-left:3px;background-color:#1eb9e6}

.login .func .color_font_1 div,.login .func .color_font_2 div,.login .func .color_font_3 div,.login .func .color_font_4 div,.login .func .color_font_5 div
{font-size:16px;color:white;font-weight: bold;padding-top:10px;padding-left:10px;}


.image_gallery{
	width:720px;
	float:right;
	
	position: relative;

}

.image_gallery > div {
	width:710px;
	height: 440px;
	
	overflow: hidden;
	position: relative;
}

.image_gallery .grid{

	float:left;
	margin-bottom:4px;
	margin-left:4px;
	border:0;
	height:141px;
	width: 241px;
}

.image_gallery .grid{
	overflow: hidden;
	position: absolute;
}




.image_gallery .grid > div{
	height:200%;
	overflow: hidden;
	position: absolute;
}

.image_gallery .grid img{
	border: 0;
}
.image_gallery .grid > div > div.box1{
	
	
}

.image_gallery .grid > div > div.box2{
	

}

.image_gallery .grid > div > div.cover{
	position: absolute;
	top:0;
	background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    opacity: 0;
}

.image_gallery .grid > div > div.cover > div.text1{
	color:white;
	margin-top:50px;
	width:230px;
	margin-left:8px;
	margin-right:auto;
}

.image_gallery .grid > div > div.cover > div.text2{
	color:white;
	text-align: right;
	width:220px;
	margin-left:auto;
	margin-right:auto;
}

.image_gallery image{
	width:231px;
}







.footer{
	padding-top: 20px;
	clear:left;
}
.footer .footer_image{
	float:left;
	margin-left:5px;
	border:0;
}
.footer .footer_image1{
	width: 40px;
	height: 30px;
}
.footer .footer_image2{
	width: 29px;
	height: 30px;
}
.footer .footer_image3{
	width: 100px;
	height: 20px;
	padding-top: 7px;
}
